@model IEnumerable<Book>

@if(Model.Any())
{
    <hr class="bg-primary mt-5" style="height:5px" />
    <p class="fs-3">Last Viewed Book</p>
    <hr class="bg-warning mb-5" style="height:5px" />
    <div class="row">
        @foreach (Book book in Model)
        {
            <partial name="_BookViewPartial" model="book" />
        }
    </div>
}