@model Blog.ViewModels.CategoriesDropDownList
<div class="btn-group">
    <a asp-controller="Posts"
       asp-action="Index"
       class="btn btn-light text-success fw-bold">
        Blog
    </a>
    <partial name="_CategoriesDropDownListPartial"
             model="Model" />
</div>