@model DZ_5.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
        <input type="email" asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 