@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AboutTheRestaurant";
}
<link rel="stylesheet" href="~/css/restaraunt.css" />

<div id="restorauntlist">
    <ul>
        <li>Ресторан 1</li>
        <li>Ресторан 2</li>
        <li>Ресторан 3</li>
        <li>Ресторан 4</li>
        <li>Ресторан 5</li>
    </ul>
</div>