@using System.Text.RegularExpressions;
@model DZ.Pages.Home.DetailsModel

<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="@Model.Comment.Text"></label><br />
        <input type="text" required  pattern="^((?!test).)*$" title="Вы ввели запрещенное слово либо поле пустое" asp-for="@Model.Comment.Text" />
        <span asp-validation-for="@Model.Comment.Text"></span>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
</form>
