@page
@using DZ.Pages.Home
@model DZ.Pages.ContactsModel
@{
}
<hr>

<div class="text-success">
    <hr>
</div>

<hr class="border border-danger border-2 opacity-50">
<hr class="border border-primary border-3 opacity-75">