@page
@model DZ.Pages.Home.CreateModel

<h2>Добавление новой новости</h2>
<form method="post">
    <p>
        <label>Имя</label><br />
        <input name="name" />
    </p>
    <p>
        <label>Описание:</label><br />
        <input name="description" type="text" />
    </p>
    <input type="submit" value="Отправить" />
</form>