@page
@model DZ.Pages.Home.DetailsModel

@{
    ViewData["Title"] = "Details";
    
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetailsVM.News[0].Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsVM.News[0].Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetailsVM.News[0].Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsVM.News[0].Description)
        </dd>
    </dl>
</div>
    @if (Model.DetailsVM.Comments == null)
    {
        <span>Комментариев нет</span>
    }
    else
    {
        <div class="row g-3">
            <partial name="_CommentViewPartial" model="Model.DetailsVM" />
        </div>
    }
<div id="newCommentId"></div>

@if (User.Identity!.IsAuthenticated)
{
    <button type="button"
            class="btn btn-primary" id="load">
        Add Comment
    </button>
}
<div class="mb-3">
     
    @section scripts{
        <script>
            $(function () {
                $('#load').on('click', function () {
                    $('#newCommentId').load('/home/create?handler=Comment');
                });
            });
        </script>
        <script>
            function EditComment(es) {
                    var id = document.getElementById(es.id);
                    let prev = id.nextElementSibling;
                    if (id.style.display == 'none') {
                        id.style.display = 'block';
                        prev.style.display = 'none';
                    }
                    else
                    {
                        var text = id.textContent;
                        id.style.display = 'none';
                        prev.text.value = text;
                        prev.style.display = 'block';
                    }                 
            }
        </script>
    }
</div>
