<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear/>
    <add name ="SqlDBFruit"
         providerName="System.Data.SqlClient"
         connectionString ="Data Source=DESKTOP-639J3PH;Initial Catalog=VegetablesAndFruits;Integrated Security=True"/>
    <add name="OledDb1Local"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Fiks\Desktop\AccessDB.accdb"/>
  </connectionStrings>
</configuration>